
/*******************************
All CONRTOL
********************************/

body {
    font-family: 'Lucida Grande', sans-serif;
    text-align: center;
}

h1{
    margin:auto;
    padding-top:150px;
    font-size:50px;
}

h3{
    margin:auto;
    padding: 20px;
    text-align: center;

}

h4{
    font-weight: 300;
    margin:auto;
    padding: 20px;
    text-align: center;
}


p{
    margin:auto;
    padding:10px;
    font-size: 18px;
}

.center-p{
    margin:auto;
    width:65%;
    text-align: left;
}
.block{
    padding-bottom: 100px;
    padding-top: 70px;
}

.blank-box{
    height:30px;
}

.right-text{
    text-align: right;
}

.left-text{
    text-align: left;
}

.white-text{
    color:white;
}


.btn{
    border-radius:0;
    width:120px;
    height:40px;

}

.btn-primary{
    border:none;
    background-color: black;
    color:white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: rgb(100,100,100);
    border:none;
    outline:none;
}

.btn-secondary{
    border-width:1px;
    border-color: white;
    background-color: transparent;
    color:white;
}

/*******************************
BANNER
********************************/
#first-head{
    padding-top: 150px;
}

.slidetext{
    text-align: center;
    /*left:50%;*/
    /*transform: translate(-50%, 0);*/
    /*padding-left: 50%;*/
}

/*#barcontainer{*/
    /*width: 100%;*/
    /*!*padding-left: 500px;*!*/
    /*!*padding-top: 120px;*!*/
/*}*/

#bar
{
    width:100%;
    height:15px;
    fill:#C5DBF5;
    rx:4px;
    ry:4px;
    opacity: 0.9;
    outline: none;
}


#slidercontainer {
    width: 500px;
    padding-left: 10px;
    padding-top: 50px;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #FFDDD0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background:  #FF804F;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background:  #FF804F;
    cursor: pointer;
}


#remind{
    color: #FF804F;
    margin-top: 50px;
    /*margin-right:300px;*/
    height:25px;
}




.place-holder{

  display: block;
  margin:auto;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 150px;
  width: 800px;
  background-color: grey;
}

.banner{
    background-color:lightgrey;
    width:100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 950px;
    background-image: url("images/actor_and_actress.jpg");
}

#bannerbutton {
    margin-top: 20px;
}


.gender-composition{
    background-color:white;
    height: 500px;
}

.salary{
    background-color:lightgrey;
}

.buttonBest{
    padding-top: 50px;
}


/*******************************
gender-composition
********************************/

.gender-composition{
  background-color:white;
    margin-bottom: 150px;

}

.female-icon{
    float: left;
    width: 10%
}
.male-icon{
    float: right;
    width: 10%
}

#male-num{
    color:dodgerblue;
    padding:10px;
    padding-top:0;
}

#female-num{
    color:#FF804F;
    padding:10px;
    padding-top: 0;
}


/*******************************
salary
********************************/

.salary{
    background-color:black;
    color:white;
}
.axis line{
    stroke: white;
}

.axis path{
    stroke: white;
}

.axis text{
    fill: white;
}

#paycheck-background{
  width: 100%
}

.salary-guess-box {
  position: relative;
  text-align: center;
  color: white;
}

.zero-padding{
    line-height: 150%;
    margin:0;
    padding:0;
}
.salary-guess-top{

    position:absolute;
    top:30%;
    left:50%;
    line-height:200%;
    transform: translate3d(-50%,-50%,0);

}

.salary-guess-left{
    position:absolute;
    top: 75%;
    left:25%;
    transform: translate(-50%, 0%);
}

.salary-guess-right{
    position:absolute;
    top:75%;
    left:75%;
    transform: translate(-50%, 0%);
}

#formGroupExampleInput {
    text-align: center;
    font-size: 40px;
    border-radius: 0 ;
    color:white;
    background-color: transparent;
    height:46px;
    width: 100px;
}

.same-line{
    display:inline-block;

}

#guess2{
    margin:10px;
}


.guess-img{
  width: 80%;
}


/*******************************
salary wall
********************************/

.wall {
  position: relative;
}

.picrow{
    margin-top: 20px;
}

.picwall {
  display: block;
  width: 100%;
  height: auto;
}

.guess-text{
  position:absolute;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;


    height: 100%;
    width: 85%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.7);
}

.wall:hover .overlay {
    opacity: 1;
}



.text {
  white-space: nowrap;
  color: white;
  font-size: 18px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.picwall-text-2{
    color:#FF804F;
}


.salary-btn{
    margin: 5px;
    width: 80px;
    height:40px;
    background-color: transparent;
    stroke:white;
    border-radius:0;
}

.salary-btn:hover, .salary-btn:focus, .salary-btn:active, .salary-btn.active, .open>.dropdown-toggle.salary-btn {
    color: black;
    background-color: white;
    border:none;
    outline: none;
}

.film-data{
  /*background-color:white;*/
  /*height: 1800px;*/
}

.nudity{
  /*height: 900px;*/
}

.young-face{
  background-color:white;
  height: 1000px;
}


/*******************************
disney
********************************/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.area {
    fill: #AED6F1;
    opacity: 0.5;
}
.areaup{
    fill: #FFD1C0;
    opacity: 0.5;
}
.area.area-age {
    fill: #94a97a;
}

#disney-test{
    text-align: left;
    padding-left:70%;
}
#pie{
    padding-left:60%;
}

.axis1 path{
    stroke: white;
}

#disney_time{
    padding-bottom: 50px;
    width:100%;
}

/*******************************
nudity
********************************/

.center-icon{
    /*padding-left: 500px;*/
    margin: auto;
    width: 50%;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: left;
}



/*******************************
Oscar
********************************/
.rectActor{
    overflow: hidden;
    top: 0;

}
.buttonBest{
    overflow: hidden;
    top: 0;
    width: 100%;
}

.oscar-description{
    margin:auto;
    text-align: center;
}

/*bottom additional information*/
.other{
    height:600px;
}