

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1{
  margin:auto;
  padding-top: 40px;
}

h3{
  margin:auto;
  padding-top: 40px;
  font-family: inherit;
  text-align: center;
}

.place-holder{

  display: block;
  margin:auto;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 150px;
  width: 800px;
  background-color: grey;
}

.banner{
  background-color:lightgrey;
  height: 500px;
}

.gender-composition{
  background-color:white;
  height: 500px;
}

/*******************************
salary
********************************/

.salary{
  background-color:lightgrey;
}

.picrow{
  margin-top: 20px;
}

.guess-img{
  width: 80%;
}

/*******************************
salary
********************************/

.wall {
  position: relative;
}

.picwall {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  overflow: hidden;
  width: 85%;
  height: 0;
  transition: .5s ease;
}

.wall:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}










.film-data{
  background-color:white;
  height: 2000px;
}

.nudity{
  background-color:lightgrey;
  height: 500px;
}

.young-face{
  background-color:white;
  height: 1000px;
}
